{% extends "base.html" %}
{% block title %}Calendar Page{% endblock %}
{% block page_css %}
  <style>
      .month {
          font-size: 25px;
          margin: auto; 
          border: 1px solid black;
      }
      .calendar-container {
          overflow-x: auto;        /* Enable horizontal scrolling if needed */
          margin-bottom: 300px;     /* Adjust as needed */
          background-color: #808080;
          box-shadow: 0 4px 8px rgba(0,0,0,.1);
          border-radius: .25rem; 
          padding: 0 15px; 
      }
      .calendar {
          width: 100%; 
          max-width: 100%; 
          margin: auto; 
          display: block;
      }
      .calendar table {
          width: 100%;
          table-layout: fixed;
          border-collapse: collapse; /* Collapse borders for a consistent look */
      }
      .calendar td {
          border: 1px solid #ddd; /* Add borders to table cells */
          padding: 50px; /* Adjust padding as needed */
          text-align: center; /* Center align cell content */
      }
      .nav-button, .view-button, .add-task {
          transition: background-color .3s ease;
      }
      .nav-button:hover, .view-button:hover, .add-task:hover {
          background-color: #0056b3; 
      }
      .view-button.active {
          background-color: #0056b3;
          color: #fff;
      }
      .month-year {
          color: #000;
      }
      .day {
          border: 1px solid #b3d7ff; 
          background-color: #f0f8ff; 
      }
      .day.today {
          background-color: #007bff;
          color: white;
          font-weight: bold;
      }

  </style>
{% endblock %}

{% block content %}
  <div class="container calendar-container my-5 py-3">
      <div class="header d-flex justify-content-between align-items-center mb-3">
          <button class="btn btn-primary nav-button" id="prev">&#60; Prev</button>
          <span class="month-year h5 mb-0">{{ current_month_year }}</span>
          <button class="btn btn-primary nav-button" id="next">Next &#62;</button>
          <div class="view-options">
              <button class="btn btn-primary view-button" id="day-view">Day</button>
              <button class="btn btn-primary view-button" id="week-view">Week</button>
              <button class="btn btn-primary view-button active" id="month-view">Month</button>
          </div>
          <a class="btn btn-success add-task" href="{% url 'add-task' %}"> + Add Task</a>
      </div>
      <div class="calendar ">
          <!-- Calendar grid goes here -->
          <table class="table table-bordered calendar">
              <!-- Calendar grid content -->
              {{ calendar|safe }} <!-- Added |safe filter to render HTML safely -->
          </table>
      </div>
  </div>
{% endblock %}