{% extends "base.html" %}
{% block title %}Edit {{ task.name }}{% endblock %}

{% block page_css %}

<style>
  .row{
    margin-top: 0.5em; 
  }
</style>

{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="task-form">
      <h3>Edit '{{ task.name }}'</h3>
      <form action="" method="POST" enctype="multipart/form-data">
         <div class="form-group">
          {% csrf_token %}
          <div class="row">
           <div class="col-6">
             <label for="id_name" class="form-label">Task Name</label>
             <input type="text" class="form-control" id="id_name" 
               name="name" value="{{ task.name }}" placeholder="Enter Task Name" required>
           </div>
           <div class="col-6">
             <label for="id_points" class="form-label">Points</label>
             <input type="number" class="form-control" id="id_points" 
               name="points" value="{{ task.points }}" placeholder="Enter Task Points e.g. 50" required>
           </div>
         </div>
            <div class="row">
              <div class="col-6">
                <label for="id_date" class="form-label">Date</label>
                <input type="text" class="form-control" id="id_date" 
                  name="" value="{{ task.date }}" placeholder="Enter Task Date" readonly>
              </div>
             <div class="col-6">
               <label for="id_time" class="form-label">Time </label>
               <input type="text" class="form-control" id="id_time" 
                 name="" value="{{ task.time|default_if_none:'' }}" placeholder="Enter Task Time" readonly>
             </div>
            </div>

            <div class="row">
             <div class="col-6">
               <label for="id_difficulty" class="form-label">Difficulty</label>
                <select class="form-control" name="difficulty" type="number" id="id_difficulty">
                   <option value="1" {% if task and task.difficulty == 1 %}selected{% endif %}>1</option>  
                   <option value="2" {% if task and task.difficulty == 2 %}selected{% endif %}>2</option>  
                   <option value="3" {% if task and task.difficulty == 3 %}selected{% endif %}>3</option>  
                   <option value="4" {% if task and task.difficulty == 4 %}selected{% endif %}>4</option>  
                   <option value="5" {% if task and task.difficulty == 5 %}selected{% endif %}>5</option>
               </select>
             </div>

              <div class="col-6">
                <label for="id_priority" class="form-label">Priority</label>
                 <select class="form-control" name="priority" type="number" id="id_priority">
                    <option value="1" {% if task and task.priority == 1 %}selected{% endif %}>1</option>
                    <option value="2" {% if task and task.priority == 2 %}selected{% endif %}>2</option>
                    <option value="3" {% if task and task.priority == 3 %}selected{% endif %}>3</option>
                    <option value="4" {% if task and task.priority == 4 %}selected{% endif %}>4</option>
                    <option value="5" {% if task and task.priority == 5 %}selected{% endif %}>5</option>
                </select>
              </div>
            </div>
         </div>
          <p></p>
        <div class="d-flex justify-content-between align-items-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{% url 'task-list' %}" class="btn btn-outline-secondary">Cancel</a>          
        </div>
      </form>
    </div>  
  </div>
</div>

{% endblock %}
