{% extends "base.html" %}
{% block title %}Quest Game{% endblock %}

{% block page_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <label>Points: {{ points }}</label>
    <canvas id="canvas1"></canvas>

<!-- Characters -->
    <img id="Player" src="{% static 'images/Player.png' %}">
    <img id="Fighter" src="{% static 'images/Alien1.png' %}">

<!-- Props -->

<!-- Environment -->
    <img id="layer1" src="{% static 'images/space.png' %}">
{% endblock %}

{% block page_js %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}


