{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!--
<style>
    .radio{
    display:inline-block;
    }
</style>
-->
<form action="" method="POST" enctype="multipart/form-data">


  <body class="text-center">
    {% csrf_token %}
    <p>
      <h1> New Task </h1>
    </p>
    <!--
      {{ form.as_p }}

    <!-->
  <form>
    <div>
      <p>
        {{form.name}}
      </p>
    </div>
    <div>
      <p>
        {{form.date}}
        {{form.time}}
      </p>
    </div>
    <div>
      <label>Points:</label>
      {{form.points}}
    </div>
    <div>
      <label>Difficulty:</label>
      {{form.difficulty}}
    </div>
    <div>
      <label>Priority:</label>
      {{form.priority}}
    </div>
    

  
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </body>
</form>


{% endblock %}