<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Task Quest - {% block title %}{% endblock %}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  {% block page_css %}
  {% endblock %}
  <style>
  body, html {
    background-color: #f8f9fa;
    height: 100%;
    Width: 100%;
    padding-bottom: 10em;
  }
  .footer-link {
    margin-top: 2em; 
  }
  .container {
    margin-top: 50px;
  }
  .task-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .navbar-with-image {
    background-image: url("https://i.imgur.com/LksriXk.png");
    background-size: cover;
  }

  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-with-image">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><h1>TaskQuest</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'calendar' %}active{% endif %}">
              <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'task-list' %}active{% endif %}">
              <a class="nav-link" href="{% url 'task-list' %}">Task List</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'add-task' %}active{% endif %}">
              <a class="nav-link" href="{% url 'add-task' %}">Add Task</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'shop' %}active{% endif %}">
              <a class="nav-link" href="{% url 'shop' %}">Shop</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'quest-game' %}active{% endif %}">
              <a class="nav-link" href="{% url 'quest-game' %}">Quest Game</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hi {{ user.username }}!
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger" type="submit">Log Out</button>
                  </form>
                  </a>
              </div>
            </li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% block content %}
    {% endblock %}
  </div>
  <p><br/></p>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% block page_js %}
  {% endblock %}
</body>
</html>
