{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 text-left">
    <h1>Welcome to TaskQuest</h1>
    <p>Make your day-to-day tasks less mundane when going through the same routine!!!</p>
  </div>
  <div class="col-md-6">
    <h3>Log In</h3>
    <form method="post">
      <div class="form-group">
        {% csrf_token %}
        <div class="mb-6">
          <label for="id_username" class="form-label">Username</label>
          <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter Username" required>
        </div>
        <div class="mb-6">
          <label for="id_password" class="form-label">Password</label>
          <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter Password" required>
        </div>
      </div>
      <p></p>
      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    <div class="footer-link">
      <a href="{% url 'signup' %}">Don't have an account? Sign Up</a>
    </div>
  </div>
</div>
{% endblock %}
