*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="text"]
{
    font-size:24px;
}

#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -40%);
  background: #4d79bc;
  max-width: 100%;
  max-height: 70%;
}

#layer1, #Player, #Fighter, #Refill, #Clear{
  display: none;
}